@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(100,100,100);
}

header {
    background-color: rgb(33, 33, 33);
    height: 100px;
    position: fixed;
    width: 100vw;
    top: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header img {
    height: 70px;
    display: inline;
    filter: drop-shadow(3px 3px 2px black);
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 3em;
    display: inline;
    filter: drop-shadow(2px 2px 3px black);
    margin-left: 30px;
}

header div {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

header ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin-right: 30px;
}

header ul a {
    font-size: 1.5em;
    padding: 7px;
    border-radius: 10px;
    transition: .1s;
}

header ul a:hover {
    color: black;
    background-color: white;
}

main {
    background-color: rgb(25, 25, 25);
    color: white;
    max-width: 850px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
}

main p, q {
    text-align: justify;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

main h1 {
    margin: 10px 0;
}

h2 {
    padding: 10px 0;
}

main p {
    text-indent: 3em;
}

main img {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

span#red {
    color: #db0000;
}

span#black {
    color: #000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

aside {
    background-color: goldenrod;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

aside h2 {
    padding: 20px 20px 10px 20px;
    margin: -20px -20px 0 -20px;
}

aside p {
    color: black;
}

div.imagem, div.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

iframe {
    filter: drop-shadow(2px 2px 3px black);
}

main ul {
    columns: 2;
    margin-left: 20px;
}

main li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

aside li {
    color: #000;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}

td, th {
    border: 1px solid white;
    padding: 10px 0;
    text-align: center;
}

td {
    padding: 10px;
}

table > tbody > tr > td > img {
    margin: auto;
    display: block;
    filter: drop-shadow(2px 2px 3px black);
    z-index: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
}

#taca {
    width: 200px;
    background-color: #db0000;
    color: #000;
    border: 1px solid #db0000;
}

#titulo {
    width: 200px;
    background-color: white;
    color: #000;
    border: 1px solid white;
}

#anos {
    width: 200px;
    color: white;
    background-color: #000;
    border: 1px solid #000;
}

#me-ajuda-Deus {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrossel {
    overflow: hidden;
    height: 300px;
    width: 600px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    transition: transform .5s;
    transform: translateX(0);
}

div#img {
    background-color: #db0000;
}

#img img {
    object-fit: cover;
    height: 300px;
    width: 600px;
}

#botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 600px;
}

#botoes button {
    width: 47.5%;
    height: 40px;
    font-size: large;
    border: none;
    background-color: #db0000;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .25s;
}

#botoes button:hover {
    transform: translatey(-7px);
    background-color: transparent;
    border: 5px solid #db0000;
}

footer {
    width: 100%;
    height: 40px;
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    color: white;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 3px black;
    filter: drop-shadow(2px 2px 3px black);
}

footer img {
    width: 20px;
    border-radius: 50%;
    transform: translateY(20%);
}